{% load static %}
<!DOCTYPE html>
<html lang="en"> 

<head>
	<title>Iffiliate - Register Payment</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Home">
	<meta name="author" content="Raphael">    
	<link rel="shortcut icon" href="{% static '/iffliateLanding_page/assets/images/favicon.png' %}"> 	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->	
	<script defer src="{% static '/iffliateLanding_page/assets/fontawesome/js/all.min.js' %}"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static '/iffliateLanding_page/assets/dripicons/webfont/webfont.css' %}">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static '/iffliateLanding_page/assets/css/theme.css' %}">
	<style>
		.message{
			color: #E06167;
		}
	</style>
</head> 

<body class="theme-bg-gradient">    
		
	<div class="signup-section auth-section">

		<div class="row m-0 h-100">
			<div class="auth-col-main bg-white col-12 col-lg-8 order-2 h-100 align-self-stretch">
				<div class="curve-container">
					<div class="curve-top"></div>
					<div class="curve-bottom"></div>
				</div><!--//curve-container-->
				<div class="over-curve">
					<div class="auth-col-main-inner mx-auto px-5">
						<div class="auth-option text-center text-lg-right pt-4 mb-5">
							Not Ready Yet ? <a class="ml-2 more-link" href="{% url 'user-dashboard' %}">Go home<strong>&rarr;</strong></a>              
						</div>
						
						<div class="site-logo mb-4 text-center"><a class="navbar-brand" href="{% url 'home' %}"><img class="logo-icon mr-2" src="{% static '/iffliateLanding_page/assets/images/Logo.png' %}" alt="logo"></a></div>   
						
						<div class="auth-wrapper mx-auto">
							<h2 class="auth-heading text-center mb-4">FIle For Payment</h2>
							
							<div class="auth-form-container text-left mx-auto">
								<form class="auth-form signup-form" id="signUpForm">         
									
									<div class="form-group email">
										<label class="sr-only" for="amount">Amount</label>
										<input id="amount" name="amount" type="amount" class="form-control " disabled placeholder=" ₦{{ user.userEarnings }}">
										<div class="message"></div>
									</div><!--//form-group-->
									<div class="form-group password">
										<label class="sr-only" for="accountNumber">Account Number</label>
										<input id="accountNumber" name="accountNumber" type="accountNumber" class="form-control signup-password" placeholder="Correct Account Number" required="required">
										
									</div><!--//form-group-->
	

										
									<div class="form-group">
										<select name="" id="bank" class="form-control">
											{% for bank in listOfBanks %}
											<option value="{{ bank }}">{{ bank }}</option>
											{% endfor %}
										</select>
									</div>

									<!-- <div class="legal-note mb-4 text-center">By signing up, you agree to our <a href="#" class="theme-link">terms of service</a> and <a href="#" class="theme-link">privacy policy</a>.</div> -->
									<div class="text-center">
										<!-- <button type="submit" class="btn btn-gradient btn-submit theme-btn mx-auto">Create an account</button> -->
										<input type="submit" class="btn btn-gradient btn-submit theme-btn mx-auto" value="File For Pay">
									</div>
								</form><!--//auth-form-->
							</div><!--//auth-form-container-->
							
						
							<div class="auth-footer py-5 mt-5 text-center">
								<div class="copyright mb-2">
									 Copyright &copy; <a class="theme-link" href="index.html" target="_blank">IFFILIATE</a>
								</div>
								<div class="legal">
									<ul class="list-inline">
										<li class="list-inline-item"><a class="theme-link" href="terms and conditions.html">Privacy Policy</a></li>
										<li class="list-inline-item">|</li>
										<li class="list-inline-item"><a class="theme-link" href="terms and conditions.html">Terms of Services</a></li>
									</ul>
								</div>
							</div><!--//auth-footer-->
							
						</div><!--//auth-wrapper-->
					</div><!--//auth-col-main-inner-->
				</div><!--//over-curve-->
			</div><!--//col-auth-->
			
			<div class="auth-col-promo theme-bg-gradient p-4 p-xl-5 col-lg-4 d-none d-lg-block order-1 h-100 align-self-stretch">
				<div class="auth-col-promo-inner h-100">
					<div class="curve-container">
						<div class="curve-top"></div>
						<div class="curve-bottom"></div>
					</div><!--//curve-container-->
					
					<div class="auth-promo-content over-curve text-white text-center">
						<h4 class="autho-promo-heading text-center text-white mb-4">FIle For Payment</h4>
						<div class="auth-promo-desc mx-auto d-inline-block">
							<ul class="list-unstyled mx-auto text-left">
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>File for payment</li>
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>We review it...</li>
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>Then We Pay..</li>
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>Then You Ball....With Your money</li>
								
							</ul>
						</div><!--//auth-promo-desc-->

					</div><!--//auth-promo-content-->
				</div><!--//auth-col-promo-inner-->
			</div><!--//auth-col-promo-->
		</div><!--//row-->
	</div><!--//signup-section-->
	
	<!-- Javascript -->          
	<script src="{% static '/iffliateLanding_page/assets/plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/popper.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  



	
</body>

</html> 

