{% extends './userAdminBase.html' %}
{% load static %}


{% block extraCss %}
		<link href="{% static 'UserDashboard/public/vendor/lightgallery/css/lightgallery.min.css' %}" rel="stylesheet" type="text/css"/>
	
{% endblock extraCss %}		
		
{% block blockcontent %}
		   
        <div class="content-body">
            <!-- row -->
                        <!-- row -->
<div class="container-fluid">
  <div class="page-titles">
    <h4>Profile</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
    </ol>
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="profile card card-body px-3 pt-3 pb-0">
        <div class="profile-head">
          <div class="photo-content">
            <div class="cover-photo"></div>
          </div>
          <div class="profile-info">
            <div class="profile-photo"> <img src="public/images/profile/profile.png" class="img-fluid rounded-circle" alt=""> </div>
            <div class="profile-details">
              <div class="profile-name px-3 pt-2">
                <h4 class="text-primary mb-0">Raphael</h4>
                <p>User</p>
              </div>
              <div class="profile-email px-2 pt-2">
                <h4 class="text-muted mb-0">info@example.com</h4>
                <p>Email</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
 
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="profile-tab">
            <div class="custom-tab-1">
              <div class="tab-content">
                <div id="my-posts" class="tab-pane fade active show">
                  <div class="my-post-content pt-3" id="copy_post_event_box">
                    


                    <!-- post for money start -->

                    
                    {% for post in  sponsoredPost %}
                     
                        
                        <div class="profile-uoloaded-post border-bottom-1 pb-5"> <img src="public/images/profile/9.jpg" alt="" class="img-fluid"> <a class="post-title" href="javascript:void()">
                          <a class="post-title" href="">
                            <h3 class="text-black"></h3>
                            <input type="text" name="link" id="sponsored-link" class="sponsored-link" value="{{ post.sponsored_post_link }}" >
                          </a> </a>
                          <button class="btn" style="background-color: #1eaae7;color:white;" >Copy Link</button>
                          <p>{{ post.sponsor_name }}</p>
                          
                           <!-- <button class="btn btn-primary mr-2"><span class="mr-2"><i class="fa fa-heart"></i></span>Like</button> -->
                          <button class="btn btn-secondary " id="show_sponsored_modal_btn" style="visibility: hidden;"  data-toggle="modal" data-target="#replyModal"><span class="mr-2"><i class="fa fa-reply"></i></span>Reply</button> 
                        </div>
                        <!-- post for money end -->
                    {% endfor %}




                  </div>
                </div>
            
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade show" id="replyModal" >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Post Reply</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <!-- <p>Some Text My javascript</p> -->
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        
		<!--**********************************
    Footer start
***********************************-->
<!-- <div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="index.html" target="_blank">Raphael</a> 2021</p>
    </div>
</div> -->
<!--**********************************
    Footer end
***********************************-->		
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
   
	

	   <!--**********************************
        Content body end
    ***********************************-->       
{% endblock blockcontent %}

       
{% block userpageExtraJS %}
<script src="{% static 'UserDashboard/public/vendor/lightgallery/js/lightgallery-all.min.js' %}" type="text/javascript"></script>
      

<script>
  //code for csrftoken 
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

</script>

<script>
const copy_post_event_box = document.querySelector('#copy_post_event_box');
const show_sponsored_modal_btn = document.querySelector('#show_sponsored_modal_btn')
const show_sponsored_modal_content = document.querySelector('#replyModal .modal-body')
copy_post_event_box.addEventListener('click',e=>{
  
    "if the element click has the class name of btn that means the user has clicked the Copy button"
    
    if(e.target.className === 'btn'){
      const sponsordLink = e.target.parentElement.querySelector('.sponsored-link');
             /* Select the text field */
             sponsordLink.select();
        
             sponsordLink.setSelectionRange(0, 99999); /* For mobile devices */
           
             /* Copy the text inside the text field */
             document.execCommand("copy");
             //console.log(copyText.value)

      //when the user click send the link to the backend for veriffication

      fetch("{% url 'proccess_sponsored_post_link_copied_by_auth_user' %}", {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken':csrftoken
        },
        body: JSON.stringify({"copied_link":sponsordLink.value}),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
        show_sponsored_modal_content.innerHTML=`<p>${data}</p>`
        show_sponsored_modal_btn.click()
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
})

  const copytoClipBoard = ()=>{
        /* Get the text field */
        var copyText = document.getElementById("sponsored-link");
          
        /* Select the text field */
        copyText.select();
        
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
      
        /* Copy the text inside the text field */
        document.execCommand("copy");
        //console.log(copyText.value)

      
      

  }
</script>
{% endblock userpageExtraJS %}