{% extends 'adminDashboard/base.html' %}
{% load static %}


{% block content %}
<!-- Page Wrapper -->
			
			<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid" style="height:100vh;">
                    
                    <form action="" style="text-align:center;display:flex; justify-content:center;align-items:center;flex-direction:column;height:100%;">
                        <h1 >Payment to {{ user }}</h1>
                        <input class="btn-right btn btn-sm btn-outline-primary" type="submit" value="PayUser" >
                    </form>
				
			
				</div>
			</div>
			<!-- /Page Wrapper -->
			
<!-- /Page Wrapper -->

{% endblock content %}