{% extends 'adminDashboard/base.html' %}
{% load static %}


{% block content %}
<!-- Page Wrapper -->
			
			<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid" style="height:100vh;">
                    
                    <form action="" method="POST" style="overflow:scroll;height:100%;">
						{% csrf_token %}

                        
                        {% if raffledraw.is_close == False %}
                        <p>Note: When You Close The Winner Will Be added Automatically</p>
                            <input class="btn-right btn btn-sm btn-outline-primary" type="submit" value="Close This Raffle Batch" >

                        {% endif %}
                            

                        <p>Total Amout Paid: <strong>$103727</strong></p>

                        <h4>Name Of Players..</h4>
                        
                        {% for player in  listOfPlayer %}
                                <p>{{ player }}</p>
                        {% endfor %}
                       
                            
                    </form>
				
			
				</div>
			</div>
			<!-- /Page Wrapper -->
			
<!-- /Page Wrapper -->

{% endblock content %}