{% load static %}
<!DOCTYPE html>
<html lang="en"> 

<head>
    
    
        <title>Iffiliate - {% block title %}{% endblock title %}</title>

    
        
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Home">
	<meta name="author" content="Raphael">    
	<link rel="shortcut icon" href="{% static '/iffliateLanding_page/assets/images/favicon.png' %}"> 
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="{% static '/iffliateLanding_page/assets/fontawesome/js/all.min.js' %}"></script>
	
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static '/iffliateLanding_page/assets/plugins/tiny-slider/tiny-slider.css' %}">
	<link rel="stylesheet" href="{% static '/iffliateLanding_page/assets/dripicons/webfont/webfont.css' %}">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static '/iffliateLanding_page/assets/css/theme.css' %}">


	<style>
	/*this style for animation to the whole landing page*/
	#markothedev-preloader.vanish{
		opacity: 0;
		visibility: hidden;
	}
	#markothedev-preloader{
		opacity: 1;
		visibility: visible;
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 200;
		background: linear-gradient(to bottom ,white,#f0dfdb,#ef6044);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 1s ease-in;
	}
	.markothedev-logo{
		width: 50%;
		animation: scaleupAndDown 3s forwards infinite ;

	}
	.markothedev-logo img{
		width: 100%;
		height: 100%;
	}
	.markothedev-preloader__text{
		color: rgb(29, 20, 20);
	}
	
	@keyframes scaleupAndDown {
		0%{	
			transform: scale(1.2,1.2);
		}
		50%{
			transform: scale(1,1);

		}
		100%{	
			transform: scale(1.2,1.2);
		}		
	}
	</style>
</head> 

<body>
	<div id="markothedev-preloader" class="vanish"  >
		<div class="markothedev-logo" >
				<img src="{% static '/iffliateLanding_page/assets/images/Logo.png' %}" alt="">
		</div>
		<p class="markothedev-preloader__text">We are Proccessing your data...please hold</p>
	</div>
	


    {% if messages %}
<ul class="messages" style="position: absolute;top:0;left:0;width:100%;z-index:100;background-color:white;text-align:center;padding:1.2rem;font-size:3rem ;text-align:center;">
  {% for message in messages %}
    <li class="{{ message.tags }}" style="color: #e4615d;list-style-type:none;">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
    {% block content %}
        
    {% endblock content %}



	<footer class="footer">
		<div class="container py-5 mb-3">
			<div class="row">
				<div class="footer-col col-12 col-md-6 col-lg-5 mb-3">
					<h4><img class="logo-icon mb-2" src="{% static 'iffliateLanding_page/assets/images/Logo.png' %}" alt="logo"></h4>
					<div>                                                                                                           
						Iffiliate is a platform that is created to generate income for the users and also help our users to build their finacial future also on our website we have an oppourtunity not only for our users 
					  but for everyone to shop/purchase their prefered products with discounts. On iffiliate once you are a certified user instead of withdrawing all of your earnings 
					  remember that it is not compulsory but also advisable that you save a prefered amount of your earnings and and get an interest rewarded to you at the point of 
					  withdrwal.</div>
					<ul class="social-list list-unstyled pt-4 mb-0">
						<li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
					</ul><!--//social-list-->
				</div><!--//footer-col-->
				
				<div class="footer-col col-12 col-md-6  col-lg-7 mb-lg-3">
					<div class="row">
						<div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
							<h4 class="col-heading">Product</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="{% url 'product' %}">Demo</a></li>
								<li><a href="{% url 'pricing' %}">Pricing</a></li>
								<li><a href="{%  url 'terms_and_conditions' %}">FAQs</a></li>
								<li><a href="{%  url 'support' %}">Support</a></li>
							</ul>
						</div><!--//footer-col-->
						<div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
							<h4 class="col-heading">Resources</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="{% url 'blog-list-view' %}">Blog</a></li>
							</ul>
						</div><!--//footer-col-->
						<div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">
							<h4 class="col-heading">About</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="{% url 'team' %}">Team</a></li>
								<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
							</ul>
						</div><!--//footer-col-->
					</div><!--//row-->
				</div><!--//footer-col-->
			</div><!--//row-->
			<hr>
			<div class="footer-bottom">
				<div class="row">
					<div class="copyright col-12 col-md-6">
						 Copyright &copy; <a href="{% url 'home' %}" target="_blank">IFFILIATE</a>
					</div>
					<div class="legal col-12 col-md-6 text-md-right">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="terms and conditions.html">Privacy</a></li>
							<li class="list-inline-item">|</li>
							<li class="list-inline-item"><a href="terms and conditions.html">Terms of Services</a></li>
						</ul>
					</div>
				</div><!--//row-->
			</div>
		</div><!--//container-->
	</footer>
	
    <script>
        const djangoMessages1 = document.querySelector('.messages')
        console.log("now u see me bicth")
        setTimeout(()=>{
        

            djangoMessages1.remove()

        },2000)
    </script>


{% block Javascript %}
	<!-- Javascript -->          
{% endblock Javascript %}
    


</body>

</html> 

