{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en"> 

<head>
	<title>Iffiliate - Sign up</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Home">
	<meta name="author" content="Raphael">    
	<link rel="shortcut icon" href="{% static '/iffliateLanding_page/assets/images/favicon.png' %}"> 	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->	
	<script defer src="{% static '/iffliateLanding_page/assets/fontawesome/js/all.min.js' %}"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static '/iffliateLanding_page/assets/dripicons/webfont/webfont.css' %}">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static '/iffliateLanding_page/assets/css/theme.css' %}">
	<style>
		.message{
			color: #E06167;
		}
	</style>

	<style>
		/*this style for animation to the whole landing page*/
		#markothedev-preloader.vanish{
			opacity: 0;
			visibility: hidden;
		}
		#markothedev-preloader{
			opacity: 1;
			visibility: visible;
			position: fixed;
			top: 0;
			bottom: 0;
			z-index: 200;
			background: linear-gradient(to bottom ,white,#f0dfdb,#ef6044);
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: all 1s ease-in;
		}
		.markothedev-logo{
			width: 50%;
			animation: scaleupAndDown 3s forwards infinite ;
	
		}
		.markothedev-logo img{
			width: 100%;
			height: 100%;
		}
		.markothedev-preloader__text{
			color: rgb(29, 20, 20);
		}
		
		@keyframes scaleupAndDown {
			0%{	
				transform: scale(1.2,1.2);
			}
			50%{
				transform: scale(1,1);
	
			}
			100%{	
				transform: scale(1.2,1.2);
			}		
		}
		</style>
</head> 


<div id="markothedev-preloader" class="vanish"  >
	<div class="markothedev-logo" >
			<img src="{% static '/iffliateLanding_page/assets/images/Logo.png' %}" alt="">
	</div>
	<p class="markothedev-preloader__text">We are Proccessing your data...please hold</p>
</div>

<body class="theme-bg-gradient">    
	
	<div class="signup-section auth-section">

		<div class="row m-0 h-100">
			<div class="auth-col-main bg-white col-12 col-lg-8 order-2 h-100 align-self-stretch">
				<div class="curve-container">
					<div class="curve-top"></div>
					<div class="curve-bottom"></div>
				</div><!--//curve-container-->
				<div class="over-curve">
					<div class="auth-col-main-inner mx-auto px-5">
						<div class="auth-option text-center text-lg-right pt-4 mb-5">
							Already have an account? <a class="ml-2 more-link" href="{% url 'signin' %}">Sign in <strong>&rarr;</strong></a>              
						</div>
						
						<div class="site-logo mb-4 text-center"><a class="navbar-brand" href="{% url 'home' %}"><img class="logo-icon mr-2" src="{% static '/iffliateLanding_page/assets/images/Logo.png' %}" alt="logo"></a></div>   
						
						<div class="auth-wrapper mx-auto">
							<h2 class="auth-heading text-center mb-4">Create an account</h2>
							
							<div class="auth-form-container text-left mx-auto">
								<form class="auth-form signup-form" id="signUpForm">         
									
									<div class="form-group email">
										<label class="sr-only" for="signup-email">Your Email</label>
										<input id="signup-email" name="email" type="email" class="form-control signup-email" placeholder="Please enter a valid email" required="required">
										<div class="message"></div>
									</div><!--//form-group-->
									<div class="form-group password">
										<label class="sr-only" for="signup-password">Password</label>
										<input id="signup-password1" name="password1" type="password" class="form-control signup-password" placeholder="Create a password" required="required">
										
									</div><!--//form-group-->
									<div class="form-group password">
										<label class="sr-only" for="signup-password">Confirm Password</label>
										<input id="signup-password2" name="password2" type="password" class="form-control signup-password" placeholder="Create a password" required="required">
										<div class="message"></div>
									</div><!--//form-group-->

									<div class="legal-note mb-4 text-center">By signing up, you agree to our <a href="{% url 'terms_and_conditions' %}" class="theme-link">terms of service</a> and <a href="#" class="theme-link">privacy policy</a>.</div>
									<div class="text-center">
										<!-- <button type="submit" class="btn btn-gradient btn-submit theme-btn mx-auto">Create an account</button> -->
										<input type="submit" class="btn btn-gradient btn-submit theme-btn mx-auto" value="Create an account">
									</div>
								</form><!--//auth-form-->
							</div><!--//auth-form-container-->
							
							<div class="divider my-5">
								<span class="or-text">OR</span>
							</div><!--//divider-->
							
							<div class="social-auth text-center mx-auto">                        
								<ul class="social-buttons list-unstyled">
									<li class="mb-3">
										<a href="{% provider_login_url 'google' %}" class="btn btn-social btn-block">
											<span class="icon-holder"><img src="{% static '/iffliateLanding_page/assets/images/social/google-logo.svg' %}" alt=""></span>
											<span class="btn-text">Sign up with Google</span>
										</a>
									</li>
									<!-- <li class="mb-3"><a href="#" class="btn btn-social btn-block"><span class="icon-holder"><span class="icon-holder"><img src="{% static '/iffliateLanding_page/assets/images/social/facebook-seeklogo.com.svg' %}" alt=""></span></span><span class="btn-text">Sign up with Facebook</span></a></li> -->
								</ul>
							</div><!--//social-auth-->
							
							<div class="auth-footer py-5 mt-5 text-center">
								<div class="copyright mb-2">
									 Copyright &copy; <a class="theme-link" href="index.html" target="_blank">IFFILIATE</a>
								</div>
								<div class="legal">
									<ul class="list-inline">
										<li class="list-inline-item"><a class="theme-link" href="terms and conditions.html">Privacy Policy</a></li>
										<li class="list-inline-item">|</li>
										<li class="list-inline-item"><a class="theme-link" href="terms and conditions.html">Terms of Services</a></li>
									</ul>
								</div>
							</div><!--//auth-footer-->
							
						</div><!--//auth-wrapper-->
					</div><!--//auth-col-main-inner-->
				</div><!--//over-curve-->
			</div><!--//col-auth-->
			
			<div class="auth-col-promo theme-bg-gradient p-4 p-xl-5 col-lg-4 d-none d-lg-block order-1 h-100 align-self-stretch">
				<div class="auth-col-promo-inner h-100">
					<div class="curve-container">
						<div class="curve-top"></div>
						<div class="curve-bottom"></div>
					</div><!--//curve-container-->
					
					<div class="auth-promo-content over-curve text-white text-center">
						<h4 class="autho-promo-heading text-center text-white mb-4">SignUp</h4>
						<div class="auth-promo-desc mx-auto d-inline-block">
							<ul class="list-unstyled mx-auto text-left">
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Create an Account</li>
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>Subscribe </li>
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>Start earning</li>
								<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span>Withdraw your earnings after 30days</li>
								
							</ul>
						</div><!--//auth-promo-desc-->

					</div><!--//auth-promo-content-->
				</div><!--//auth-col-promo-inner-->
			</div><!--//auth-col-promo-->
		</div><!--//row-->
	</div><!--//signup-section-->
	
	<!-- Javascript -->          
	<script src="{% static '/iffliateLanding_page/assets/plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/popper.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  




	<script>
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');

		const loadingAnimation = document.getElementById("markothedev-preloader")
		

		function sendMessage(password=null,email=null){

			if(password !== null){
				//manipulate ui
				console.log(password)
				let Passwordmessage = password.parentElement.querySelector('.message')
				Passwordmessage.innerText = `${password.value} does not match`
			}

			if(email !== null){
				//manipulate ui
				console.log(email)
				let Emailmessage = email.parentElement.querySelector('.message')
				Emailmessage.innerText = `This "${email.value}" Exits`
			}
			
		}


		function checkEmailAndSendData(email,password2){
			loadingAnimation.className=""	
			//start the preloader


			const data = { 'email': email.value,'password':password2.value };
			/*
				USed window.location.origin to get the website name
				because i dont want to hard code it in for featur puposes
			*/
			
			fetch(`${window.location.origin}/api/create-user/`, {
			method: 'POST', // or 'PUT'
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken':csrftoken
			},
			body: JSON.stringify(data),
			})
			.then(response => response.json())
			.then(data => {
				loadingAnimation.className="vanish"

				console.log('Success:', data['email']);
				if( (data['email'] instanceof Array) === true){
					sendMessage(password=null,email=email)
				}
				else{
				loadingAnimation.className="vanish"

					//if thigs go well prompt the user for sign in
					location.href = '{% url "signin" %}'
				}
				
				
			})
			.catch((error) => {
				loadingAnimation.className="vanish"
				alert("Some unseen Error please Reload the page and try again")
				console.error('Error:', error);
			});



		}






		let signUpForm = document.querySelector('#signUpForm')
		
		signUpForm.addEventListener('submit',e=>{
			e.preventDefault()
			let password1 = document.querySelector('#signup-password1')
			let password2 = document.querySelector('#signup-password2')
			let email = document.querySelector('#signup-email')
			
			
			if(password1.value === password2.value){
				checkEmailAndSendData(email,password2)
			}
			else{
				console.log('wrong password')
				sendMessage(password=password2)
			}

			
		})


	</script>
	
</body>

</html> 

