{% load static %}
{% load socialaccount %}
<!DOCTYPE html>

<html lang="en"> 

<head>
	<title>Iffiliate - Sign in</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sign in">
	<meta name="author" content="Raphael">    
	<link rel="shortcut icon" href="{% static '/iffliateLanding_page/assets/images/favicon.png' %}"> 	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->	
	<script defer src="{% static '/iffliateLanding_page/assets/fontawesome/js/all.min.js' %}"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static '/iffliateLanding_page/assets/dripicons/webfont/webfont.css' %}">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static '/iffliateLanding_page/assets/css/theme.css' %}">

	<style>
		.message.success{
			color: greenyellow;
		}
		.message.error{
			color: #f65f34;
		}
	</style>
</head> 

<body>    
	
	<div class="signin-section auth-section">
		<div class="curve-container">
			<div class="curve-top"></div>
			<div class="curve-bottom"></div>
		</div><!--//curve-container--> 
		<div class="container">
			<div class="auth-option over-curve text-center text-lg-right pt-4 mb-5">
				Don't have an account?<a class="ml-2 more-link" href="{% url 'signup' %}">Sign up now <strong>&rarr;</strong></a>              
			</div>
			<div class="single-col-max mx-auto over-curve px-5">  
				
				<div class="site-logo mb-4 text-center"><a class="navbar-brand" href="{% url 'home' %}"><img class="logo-icon mr-2" src="{% static '/iffliateLanding_page/assets/images/Logo.png' %}" alt="logo"></a></div>   

				<div class="auth-wrapper mx-auto">
					<h2 class="auth-heading text-center mb-4">Sign in to your account</h2>

					<div class="auth-form-container text-left mx-auto">
						<form class="auth-form signup-form" id="signin-form" method="POST" >   
							<!-- start  of messages -->
							{% if messages %}
								<ul class="messages" style="background-color: #f65f34;width:100%;color:white;padding:1.2rem;font-size:1.2rem ;text-align:center;">
									{% for message in messages %}
									<li class="{{ message.tags }}" style="color: white;list-style-type:none;">{{ message }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							<!-- end of messages -->
							{% csrf_token %}       
							<div class="form-group email">
								<label class="sr-only" for="signin-email">Email</label>
								<input id="signin-email" name="username" type="email" class="form-control signin-email" placeholder="Email" required="required">
								<div class="message"></div>
							
							</div><!--//form-group-->
							<div class="form-group password">
								<label class="sr-only" for="signin-password">Password</label>
								<input id="signin-password" name="password" type="password" class="form-control signin-password" placeholder="Password" required="required">
								<div class="message"></div>
						
								<div class="extra mt-2 position-relative">
									<div class="checkbox remember">
										<label>
											<!-- <input type="checkbox"> Remember me -->
										</label>
									</div><!--//check-box-->
									
									<div class="forgotten-password">
										<a href="{% url 'custom_password_reset' %}">Forgotten password?</a>
									</div>
								</div><!--//extra-->
							</div><!--//form-group-->
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-submit theme-btn mx-auto">Sign in</button>
							</div>
						</form>
					</div><!--//auth-form-container-->
					
					<div class="divider my-5">
						<span class="or-text">OR</span>
					</div><!--//divider-->
					
					<div class="social-auth text-center mx-auto">                        
						<ul class="social-buttons list-unstyled">
						
							<li class="mb-3">
								<a href="{% provider_login_url 'google' %}" class="btn btn-social btn-block">
									<span class="icon-holder"><img src="{% static '/iffliateLanding_page/assets/images/social/google-logo.svg' %}" alt=""></span>
									<span class="btn-text">Sign in with Google</span>
								</a>
							</li>
							<!-- <li class="mb-3"><a href="#" class="btn btn-social btn-block"><span class="icon-holder"><span class="icon-holder"><img src="{% static '/iffliateLanding_page/assets/images/social/facebook-seeklogo.com.svg' %}" alt=""></span></span><span class="btn-text">Sign in with Facebook</span></a></li> -->
						</ul>
					</div><!--//social-auth-->
					
					<div class="auth-footer py-5 mt-5 text-center">
						<div class="copyright mb-2">
							 Copyright &copy; <a class="theme-link" href="{% url 'home' %}" >IFFILIATE</a>
						</div>
						<div class="legal">
							<ul class="list-inline">
								<li class="list-inline-item"><a class="theme-link" href="terms and conditions.html">Privacy Policy</a></li>
								<li class="list-inline-item">|</li>
								<li class="list-inline-item"><a class="theme-link" href="terms and conditions.html">Terms of Services</a></li>
							</ul>
						</div>
					</div><!--//auth-footer-->
					
				</div><!--//auth-wrapper-->
			</div><!--//single-col-max-->
		</div><!--//container-->
	</div><!--//signin-section-->
	
	

	<!-- Javascript -->          
	<script src="{% static '/iffliateLanding_page/assets/plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/popper.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  
	
	<script>
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');

	</script>


	<script>
	

		class SigninFORM{

			constructor(formID){
				this.formID =formID
				this.form = document.querySelector(formID)
				this.emailInput = document.querySelector('#signin-email');
				this.passwordInput = document.querySelector('#signin-password')
			}
				//this method send data to the backend
			async sendTobackEnd(data){

				const resp = await fetch(`${window.location.origin}/api/signin-user/`, {
								method: 'POST', // or 'PUT'
								headers: {
								'Content-Type': 'application/json',
								'X-CSRFToken':csrftoken
								},
								body: JSON.stringify(data),
							})
				const respData = resp.json()

				return respData
			}//end of code of sendTobackEnd

			displayMessageToUi(message,status){
				const messageDiv = 	this.emailInput.parentElement.querySelector('.message')
				if(status === 'error'){
					messageDiv.classList.remove('success')
					messageDiv.classList.add('error')
				}else{
					messageDiv.classList.remove('error')
					messageDiv.classList.add('success')
				}
				messageDiv.innerText = message

			}
			
			LoadformEvent(){

				this.form.addEventListener('submit',e=>{
					e.preventDefault()
				

					this.sendTobackEnd({'email':this.emailInput.value,'password':this.passwordInput.value})
					.then(data=>{

						if(data.success){
							this.displayMessageToUi(data.success,'success')
							window.location.href = "{% url 'user-dashboard' %}"
						}else if(data.error){
							this.displayMessageToUi(data.error,'error')


						}
					})
					.catch(data=>{
						alert('There has been some unforseen error Please Reload the page')
					})

				})

			}


		}
		
		let Form = new SigninFORM('#signin-form')


		Form.LoadformEvent()

	</script>
</body>

</html> 

