{% extends './base.html' %}
{% load static %}


{% block title %}
	Support
{% endblock title %}
	

{% block content %}   
	<div class="hero-wrapper">
		<div class="curve-container">
			<div class="curve-top"></div>
			<div class="curve-bottom"></div>
		</div><!--//curve-container-->

		{% include './partials/nav.html' %}
		
		<section class="support-header page-header over-curve py-4 py-md-5">
			<div class="container text-center">	
				<div class="single-col-max mx-auto">	   
					<h1 class="page-headline mb-3">How Can We Help?</h1>
					<div class="page-tagline mb-4">Find out how our products work with the video in the description below or contact us with the description below. </div>
					<div class="cta-btn mb-lg-3">
						<a class="btn btn-gradient mb-3 mr-2" href="product.html" >Request A Demo</a>
						<br class="d-block d-md-none">
						<a class="btn btn-inverse mb-3" href="contact.html" >Contact Us</a>
					</div> 
					
				</div><!--//single-col-max-->
			</div>
		</section><!--//support-header-->
        
        <section class="guide-section text-center over-curve pb-5">
	        <div class="container">
		        <div class="single-col-max mx-auto">
			        <h2 class="section-title">Product Guide</h2>
			        <div class="section-intro mb-3">Read the document below for more information.</div>
				        
		        </div><!--//single-col-max-->
		        
		        <div class="row">
			        <div class="col-12 col-lg-4">
				        <a class="item p-4" href="#">
					        <div class="icon-holder text-center">
								<div class="icon dripicons-rocket"></div>
							</div><!--//icon-holder-->
					        <h4>Getting Started</h4>
					        <div class="desc">
								Get started with iffiliate today, don’t waste time. The earlier the better.
								We’re with you all the way.
					</div>
				        </a><!--//item-->
			        </div><!--//col-->
			        
			        <div class="col-12 col-lg-4">
				        <a class="item p-4" href="#">
					        <div class="icon-holder text-center">
								<div class="icon dripicons-gear"></div>
							</div><!--//icon-holder-->
					        <h4>Intergrations</h4>
					        <div class="desc">
								Our business integration is a goal to not only combine IT and business cultures but to also combine technology and logic to business strategies and goals.					        </div>
				        </a><!--//item-->
			        </div><!--//col-->
			        <div class="col-12 col-lg-4">
				        <a class="item p-4" href="#">
					        <div class="icon-holder text-center">
								<div class="icon dripicons-gear"></div>
							</div><!--//icon-holder-->
					        <h4>Management</h4>
					        <div class="desc">
								Our business has a top notch management system that has been automated by highly intelligent programmers.					        </div>
				        </a><!--//item-->
			        </div><!--//col-->
			        <div class="col-12 col-lg-4">
				        <a class="item p-4" href="#">
					        <div class="icon-holder text-center">
								<div class="icon dripicons-document"></div>
							</div><!--//icon-holder-->
					        <h4>Resources</h4>
					        <div class="desc">
								We have different factors that are necessary to accomplish our goals and run our business.					        </div>
				        </a><!--//item-->
			        </div><!--//col-->
			        <div class="col-12 col-lg-4">
				        <a class="item p-4" href="#">
					        <div class="icon-holder text-center">
								<div class="icon dripicons-graph-pie"></div>
							</div><!--//icon-holder-->
					        <h4>Analytics</h4>
					        <div class="desc">
								We use quantitative and logical methods to derive meaning from our data in order to make informed business decisions that help our users.					        </div>
				        </a><!--//item-->
			        </div><!--//col-->
		        </div><!--//row-->
	        </div><!--//container-->
        </section>
        
        <section class="faq-alt-section text-center py-5 over-curve">
	        <div class="container">
		        <h2 class="section-title mb-5">FAQs</h2>
		        <div id="faq-accordion" class="faq-accordion mx-auto text-left">
			        <div class="row">
				        <div class="col-12 col-lg-6">
					        <div class="card border-0 mb-4 shadow-sm rounded">
				                <div class="card-header border-0 px-4 py-3 rounded">
				                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq1" aria-expanded="false">What you will get as an Iffiliate Member?<i class="fas fa-chevron-down"></i></a></h4>
				                </div>
				    
				                <div class="card-collapse collapse" id="faq1">
				                    <div class="card-body">
										As an Iffiliate member there's an oppourtunity for the members to pick any of the two slot, and each of the two slots has it daily, weekly and monthly returns
										for the first slot a total of (180NGN/day)-(1,260NGN/week)-(5,040NGN/month). For the second slot a total of (250NGN/day)-(1,750NGN/week)-(7,000NGN/month). An
										oppourtunity for our users to participate in the raffle draw to win cash prizes. 
									</div><!--//card-body-->
				                </div>
				            </div><!--//card-->
				            <div class="card border-0 mb-4 shadow-sm rounded">
				                <div class="card-header border-0 px-4 py-3 rounded">
				                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq2" aria-expanded="false">When would Iffiliate Members get paid?<i class="fas fa-chevron-down"></i></a></h4>
				                </div>
				    
				                <div class="card-collapse collapse" id="faq2">
				                    <div class="card-body">
										All Iffiliate memebers would be paid in a 72 hour window and all payments would be made based on the activities of each member.</div><!--//card-body-->
				                </div>
				            </div><!--//card-->
				            <div class="card border-0 mb-4 shadow-sm rounded">
				                <div class="card-header border-0 px-4 py-3 rounded">
				                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq3" aria-expanded="false">Do i need to keep renewing my subscription?<i class="fas fa-chevron-down"></i></a></h4>
				                </div>
				                <div class="card-collapse collapse" id="faq3">
				                    <div class="card-body">
										At iffiliate at the end of every thirty days all our users would have to renew their subscription to the package of their choice.				                </div>
				            </div><!--//card-->
							</div>
							
				           
				            
				            
				        </div><!--//col-->
				        <div class="col-12 col-lg-6">
					        <div class="card border-0 mb-4 shadow-sm rounded">
				                <div class="card-header border-0 px-4 py-3 rounded">
				                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq4" aria-expanded="false">what are the main advantages of IFFILIATE<i class="fas fa-chevron-down"></i></a></h4>
				                </div>
				    
				                <div class="card-collapse collapse" id="faq4">
				                    <div class="card-body">
										Iffiliate is a platform that is created to generate income for the users and also help our users to save their earnings and most importantly to help build a finacial
										future for our users.
									</div>
									
				            </div><!--//card-->
				            <div class="card border-0 mb-4 shadow-sm rounded">
				                <div class="card-header border-0 px-4 py-3 rounded">
				                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq8" aria-expanded="false">How many accounts can i open on IFFILIATE<i class="fas fa-chevron-down"></i></a></h4>
				                </div>
				    
				                <div class="card-collapse collapse" id="faq8">
				                    <div class="card-body">
										For the Bronze account you can only open a single account, for the silver account you can only open a sinlgle account but there is an exception to the Gold account 
										you can open two accounts.</div><!--//card-body-->
				                </div>
				            </div><!--//card-->
				            <div class="card border-0 mb-4 shadow-sm rounded">
				                <div class="card-header border-0 px-4 py-3 rounded">
				                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq9" aria-expanded="false">is it free of charge to open an account on IFFILIATE<i class="fas fa-chevron-down"></i></a></h4>
				                </div>
				    
				                <div class="card-collapse collapse" id="faq9">
				                    <div class="card-body">
										To open an account and become a user, you have to choose from your preffered package and pay the registration fee required.				                    </div><!--//card-body-->
				                </div>
								</div>
								</div>
								
				            </div><!--//card-->
				        </div><!--//col-12-->
			        </div><!--//row-->
		        </div><!--//faq-accordion-->
				
		        <div class="py-3">
			        <div class="section-intro mb-3">Can't find your answer?</div>
			        <a class="btn btn-gradient" href="contact.html">Contact Us</a>
		        </div>
	        </div><!--//container-->
        </section>
				
	</div><!--//hero-wrapper-->     

{% endblock content %}

	


{% block Javascript %}
	<!-- Javascript -->          
	<script src="{% static '/iffliateLanding_page/assets/plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/popper.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  

{% endblock Javascript %}
	