{% load static %}
{% load socialaccount %}
<!DOCTYPE html>

<html lang="en"> 

<head>
	<title>Iffiliate - password reset</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sign in">
	<meta name="author" content="Raphael">    
	<link rel="shortcut icon" href="{% static '/iffliateLanding_page/assets/images/favicon.png' %}"> 	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->	
	<script defer src="{% static '/iffliateLanding_page/assets/fontawesome/js/all.min.js' %}"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static '/iffliateLanding_page/assets/dripicons/webfont/webfont.css' %}">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static '/iffliateLanding_page/assets/css/theme.css' %}">

	<style>
		.message.success{
			color: greenyellow;
		}
		.message.error{
			color: #f65f34;
		}
	</style>
</head> 

<body>    
	
	<div class="signin-section auth-section" style="height:100vh;">
		<div class="curve-container">
			<div class="curve-top"></div>
			<div class="curve-bottom"></div>
		</div><!--//curve-container--> 
		<div class="container">
			<div class="auth-option over-curve text-center text-lg-right pt-4 mb-5">
				Don't have an account?<a class="ml-2 more-link" href="{% url 'signup' %}">Sign up now <strong>&rarr;</strong></a>              
			</div>
			<div class="single-col-max mx-auto over-curve px-5">  
				
				<div class="site-logo mb-4 text-center"><a class="navbar-brand" href="{% url 'home' %}"><img class="logo-icon mr-2" src="{% static '/iffliateLanding_page/assets/images/Logo.png' %}" alt="logo"></a></div>   

				<div class="auth-wrapper mx-auto">
					<h2 class="auth-heading text-center mb-4">Enter Your Iffiliate Email</h2>

					<div class="auth-form-container text-left mx-auto">
						<form class="auth-form " action="" method="POST" >   
							{% csrf_token %}   
							
						
							<div class="form-group email">
								<label class="sr-only" for="signin-email">Email</label>
								<input id="id_email" name="email" type="email" class="form-control signin-email" placeholder="Email" required="required">
								<div class="message"></div>
							
							</div><!--//form-group-->
							<div class="text-center">
								<!-- <input type="submit" value="sub,it e"> -->
								<button type="submit" class="btn btn-primary btn-submit theme-btn mx-auto">Submit</button>
							</div>
						</form>
					</div><!--//auth-form-container-->
					
				
				</div><!--//auth-wrapper-->
			</div><!--//single-col-max-->
		</div><!--//container-->
	</div><!--//signin-section-->
	
	

	<!-- Javascript -->          
	<script src="{% static '/iffliateLanding_page/assets/plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/popper.min.js' %}"></script>
	<script src="{% static '/iffliateLanding_page/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  
</body>

</html> 

